.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

header {
  max-height: 54px;
}
header nav {
  margin: auto !important;
}

header nav li {
  padding: 3px !important;
  cursor: pointer;
}

header nav li {
  list-style: none;
  padding: 0px 22px;
  margin: 0px 4px;
}

header nav ul li a {
  font-size: 1.3em;
  color: black;
  text-decoration: none;
  padding: 0px 12px;
}
header nav ul li a h6 {
  font-weight: 600;
  font-size: 0.8em;
  display: inline;
}
header nav ul li a:hover {
  color: #0d6efd;
}

header .earth {
  color: #0d6efd;
}

main {
  min-height: 800px;
}

footer {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.125);
}

footer i {
  color: black;
  transition: 1000ms;
}
footer .fa:hover {
  transform: scale(1.2, 1.2);
  color: black;
}

footer {
  height: 183px;
}
footer .title {
  font-size: 1.2em;
}

footer .headline {
  font-size: 1.2em;
}

article {
  max-width: 800px;
  border-radius: 24px !important;
  background: #eeeeee;
}

article img {
  border: 24px;
}

@media (max-width: 768px) {
  header {
    max-height: 88px;
  }
  header nav ul {
    padding: 0px;
  }

  header nav ul li a {
    font-size: 0.82em;
    padding: 0px 7px;
  }

  header .earth {
    display: none;
  }

  header input {
    width: 86%;
    margin: auto;
  }
  article img {
    width: 80%;
    margin-right: 60px;
  }
}
